<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>BCC recipients</title>
        <input-field type="textarea">
            <name>bccRecipients</name>
            <label>BCC recipients</label>
            <helpText>Comma, semicolon, or line separated list of email addresses.</helpText>
            <placeholder>billing@example.com, audit@example.com</placeholder>
        </input-field>
    </card>
</config>
